<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis est harum
      dolorem aliquid praesentium esse.
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Title</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, fugit?
      </p>
    </header>
  </div>
</section>
